@import "bourbon/bourbon";

body { 
  background: #fff;
  color: #000;
  font-family: 'Merriweather', Georgia, helvetica, arial, sans-serif;
  font-size: 16px;
  line-height: 1.55em;
  padding: 0; margin: 0;
}

[data-more] {
  div.more-body { display: none; }
}

strong, b { font-weight: normal; }

header {
  padding: 35px 20px;
  line-height: 1.3em; 
  text-align: center; 
  width: 300px;
  height: 150px;
  border: 1px dotted #e6e6e7;
  margin: 50px auto;
  @include box-sizing(border-box);
  @include transition(all, 0.3s);
  a { @include transition(all, 0.3s); }
  h1 { @include inline-block; font-size: 20px; margin: 0 0 15px; }
  p { margin: 0; font-size: 13px; line-height: 2em; }
}

h1, h2, h3, h4, h5, h6 { font-weight: normal; }

.hr {
  text-align: center;
  margin: 20px auto 30px;
  font-size: 6px; color: #999;
  letter-spacing: 20px;
  &:before {
    content: "╲╲╲";
  }
}

a, .as-link {
  text-decoration: none; 
  color: #527d9a;
  &:hover { color: #336688; }
  &.big-button {
    display: block;
    border-radius: 3px;
    @include transition(all, 0.2s);
    color: #fff;
    font-size: 12px;
    line-height: 2em;
    padding: 8px 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    border: 4px solid #8ab;
    background: #6f8f9f;
    &:hover { background: #608090; }
    &:active { @include box-shadow(inset 0 1px 2px #406070); }
    &.red {
      border: 4px solid #ddacac;
      background: #bf6653;
      &:hover { background: #bf4634; }
      &:active { @include box-shadow(inset 0 1px 2px #602022); }
    }
  }
}

#container, .stuff {
  width: 100%;
  max-width: 700px;
  margin: auto;
}

@media (min-width: 960px) {
  #container { width: 60%; }
}

.pull-right { float: right; }
.pull-left { float: left; }
.colour-1 { color: #c94 }
.colour-2 { color: #925}
.colour-3 { color: #484 }

hr {
  border: 0;
  border-bottom: 1px dotted #CCC;
  margin: 25px 0;
}

ul.posts {
  padding: 0;
  margin: 20px auto 60px;
  li { margin: 0; padding: 0; list-style: none; }
  li a { 
    &, * { @include transition(all, 0.3s); }
    display: block;
    font-size: 18px;
    margin-bottom: 15px;
    small { font-size: 12px;  }
    small.hide { opacity: 0; }
    &:hover small.hide { opacity: 0.6; }
  }
}

.site section.blogpost {
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
}
.site section.blogpost, .site section > p {
  line-height: 1.8em;
  blockquote { 
    border-left: 3px solid #f6f8f9;
    padding: 0 0 0 15px; margin: 20px 0 20px -18px;;
    font-style: italic; color: #777879;
    @include transition(all, 0.3s);
    &:hover { color: #030507; border-left-color: #e4e6e9; }
  }
  li .CodeMirror { margin: 10px 0; }
  li p { margin-bottom: 5px; }
  img { 
    max-width: 100%;
    &.half { width: 50%; }
  }

}

@media (max-width: 580px) {
  section.blogpost img.half { width: 100%; }
}
.muted { color: #777; }

.sec-head {
  display: none; 
  background: #494949;
  color: #fff;
  display: block;
  border-radius: 40px;
  width: 60px;
  height: 60px;
  line-height: 58px;
  margin: 10px auto;
  text-align: center;
  font-size: 80%;
  text-shadow: -1px -1px 0px #000;
}

footer {
  margin: 40px 0 0 0;
  padding: 25px; 
  background: #f7f8f9;
  line-height: 2rem;
  h3 { font-size: 14px; }
}

section.info {
  &.one { 
    width: 100%; 
    &:not(:last-of-type) { 
      border-bottom: 1px dotted #ccc; margin-bottom: 20px;
      padding-bottom: 35px;
    }
  }
  width: 49%; 
  font-size: 13px;
  a { line-height: 2.4em; }
  &:not(:last-of-type) { margin-right: 1%; }
  @include inline-block;
  vertical-align: top;
  small { color: #999; }
  .item { * { padding-bottom: 2px; border-bottom: 1px dotted #ccc;} }
}

.subject {
  font-size: 20px;
  line-height: 1.5em;
  margin: 0;
}

.section-title {
  font-size: 16px;
  color: #676566;
}

section.navigation {
  @include clearfix;
  position: relative;
  margin: 0 0 15px;
  a {
    width: 50%;
    span { opacity: 0.2; padding: 0 5px; @include transition(all, 0.3s); }
    &:hover span { opacity: 1; }
  }
}

section.share-links {
  text-align: center;
  border-top: 1px dotted #ddd;
  border-bottom: 1px dotted #ddd;
  padding: 20px 0 10px; margin: 20px 0;
  .button { 
    @include inline-block;
    vertical-align: top;
    height: 20px; 
    &.spaced { margin-right: 30px; }
  }
}