---
layout: index
title: Robert Heaton
---
<style>
.topic-box {
  margin-bottom: 17px;
  padding-top: 1px;
  padding-bottom: 5px;
  padding-left: 17px;
  padding-right: 17px;
  background: #f0f1f2;
}
.topic-box ul {
  padding-inline-start: 20px;
}
.home-img img {
  max-width: 100%;
  margin-bottom: 17px;
}

</style>
<div id="home">
  <div class="topic-box">
    <h2>Latest</h2>
    <ul>
      {% for post in site.posts | limit: 5 %}
        <li>
          {{ post.date | date_to_string }} -
          <a href="{{post.url}}">
            {{ post.title}}
          </a>
        </li>
      {% endfor %}
    </ul>

    <p>
    <a href="/archive">(view all)</a>
    </p>
  </div>

  <div class="topic-box">
    <h2>{{ site.data.home.best_of.title }}</h2>
    <ul>
      {% for post in site.data.home.best_of.posts %}
        <li>
          <a href="{{post.url}}">
            {{ post.title}}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="home-img">
    <img src="/images/https-intro.png" />
  </div>

  <div class="topic-box">
    <h2>{{ site.data.home.learning_programming.title }}</h2>
    <ul>
      {% for post in site.data.home.learning_programming.posts %}
        <li>
          <a href="{{post.url}}">
            {{ post.title}}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="topic-box">
    <h2>{{ site.data.home.online_tracking.title }}</h2>
    <ul>
      {% for post in site.data.home.online_tracking.posts %}
        <li>
          <a href="{{post.url}}">
            {{ post.title}}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="home-img">
    <img src="/images/wifi-casino.png" />
  </div>

  <div class="topic-box">
    <h2>{{ site.data.home.https.title }}</h2>
    <ul>
      {% for post in site.data.home.https.posts %}
        <li>
          <a href="{{post.url}}">
            {{ post.title}}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>

  {% include rss_home.html %}

  <div class="topic-box">
    <h2>{{ site.data.home.steve_steveington.title }}</h2>
    <ul>
      {% for post in site.data.home.steve_steveington.posts %}
        <li>
          <a href="{{post.url}}">
            {{ post.title}}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="topic-box">
    <h2>{{ site.data.home.computer_games.title }}</h2>
    <ul>
      {% for post in site.data.home.computer_games.posts %}
        <li>
          <a href="{{post.url}}">
            {{ post.title}}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="home-img">
    <img src="/images/dark-souls-cover.png" />
  </div>

  <div class="topic-box">
    <h2>{{ site.data.home.productivity.title }}</h2>
    <ul>
      {% for post in site.data.home.productivity.posts %}
        <li>
          <a href="{{post.url}}">
            {{ post.title}}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="home-img">
    <img src="/images/mosaic-me-small.png" />
  </div>

  <div class="topic-box">
    <h2>{{ site.data.home.economics.title }}</h2>
    <ul>
      {% for post in site.data.home.economics.posts %}
        <li>
          <a href="{{post.url}}">
            {{ post.title}}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="topic-box">
    <h2>{{ site.data.home.office_hours.title }}</h2>
    <ul>
      {% for post in site.data.home.office_hours.posts %}
        <li>
          <a href="{{post.url}}">
            {{ post.title}}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="topic-box">
    <h2>{{ site.data.home.life_advice.title }}</h2>
    <ul>
      {% for post in site.data.home.life_advice.posts %}
        <li>
          <a href="{{post.url}}">
            {{ post.title}}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="home-img">
    <img src="/images/robot-army-cover.png" />
  </div>

  <div class="topic-box">
    <h2>{{ site.data.home.stories.title }}</h2>
    <ul>
      {% for post in site.data.home.stories.posts %}
        <li>
          <a href="{{post.url}}">
            {{ post.title}}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="topic-box">
    <h2>{{ site.data.home.parenthood.title }}</h2>
    <ul>
      {% for post in site.data.home.parenthood.posts %}
        <li>
          <a href="{{post.url}}">
            {{ post.title}}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="topic-box">
    <h2>{{ site.data.home.writing.title }}</h2>
    <ul>
      {% for post in site.data.home.writing.posts %}
        <li>
          <a href="{{post.url}}">
            {{ post.title}}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="topic-box">
    <h2>{{ site.data.home.programming.title }}</h2>
    <ul>
      {% for post in site.data.home.programming.posts %}
        <li>
          <a href="{{post.url}}">
            {{ post.title}}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div style="clear: left"></div>
</div>
