<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form
  action="https://buttondown.email/api/emails/embed-subscribe/heaton"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/heaton', 'popupwindow')"
  class="embeddable-buttondown-form"
>
<small>To receiver new posts via email</small>
  <input type="email" name="email" id="tlemail" placeholder="Your email address"
    class="bw2 b--dark-gray pa3 ba measure-narrow w-100 mr2">
  <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button as-link green">
</form>
</div>
