<!-- Begin MailChimp Signup Form -->
<!-- <div id="mc_embed_signup"> -->
<!-- 	<form action="http://robertheaton.us7.list-manage1.com/subscribe/post?u=72fe75a588d86534023b22f78&amp;id=28ee69107b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate> -->
<!-- <small>To receiver new posts via email</small> -->
<!-- <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Your email address here"> -->
<!--   <div id="mce-responses" class="clear"> -->
<!--     <div class="response" id="mce-error-response" style="display:none"></div> -->
<!--     <div class="response" id="mce-success-response" style="display:none"></div> -->
<!--   </div> -->  
<!--   <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button as-link green"> -->
<!-- </form> -->
<!-- </div> -->
<!--End mc_embed_signup-->

<form style="border:1px solid #ccc;padding:3px;text-align:center;" action="https://tinyletter.com/robheaton" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/robheaton', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><p><label for="tlemail">Enter your email address</label></p><p><input type="text" style="width:140px" name="email" id="tlemail" /></p><input type="hidden" value="1" name="embed"/><input type="submit" value="Subscribe" /><p><a href="https://tinyletter.com" target="_blank">powered by TinyLetter</a></p></form>
