<footer>
  <div class='stuff'>
    <section class='info'>
      <h3 class="section-title">Previously on 24</h3>
      {% if site.related_posts %}
        {% for post in site.related_posts, limit: 4 %}
          <div class="item"><a href="{{ post.url }}">{{ post.title }}</a></div>
        {% endfor %}
      {% else %}
        {% for post in site.posts, limit: 4 %}
          <div class="item"><a href="{{ post.url }}">{{ post.title }}</a></div>
        {% endfor %}
      {% endif %}
    </section>

    <section class='info'>
      <h3 class="section-title">Follow that car</h3>
      <div style="position:relative; top: 5px; margin-bottom: 15px;">
        <a href="https://twitter.com/RobJHeaton" class="twitter-follow-button" data-show-count="false" data-dnt="true">Follow @RobJHeaton</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
      <div class='item'>
        <a href='http://twitter.com/robjheaton' id='twitter' target='_blank'>Twitter</a>
      </div>
      <div class='item'>
        <a href='http://github.com/robert' id='github' target='_blank'>Github</a>
      </div>
      <div class='item'>
        <a href='http://uk.linkedin.com/in/robertjheaton' id='linkedin' target='_blank'>LinkedIn</a>
      </div>
    </section>
  </div>
  <br />
  <br />
  <center><small>Built with glue and spit by the wonderful <a href="http://muan.co/" target="_blank" id="@muanchiou">@muanchiou</a></small></center>
</footer>