<footer>
  <div class='stuff'>
    <section class='info'>
      <a href="/archive">Archive</a>
      /
      <a href="/feed.xml">RSS</a>
    </section>
    <section class='info pull-right'>
      Get in touch
      /
      <a href='mailto:robqheaton@gmail.com' id='email'>Email</a>
      /
      <a href='http://twitter.com/robjheaton' id='twitter' target='_blank'>Twitter</a>
      /
      <a href='http://github.com/robert' id='github' target='_blank'>Github</a>
    </section>
    <div style='clear: both'></div>
  </div>
</footer>
