<footer class="w-100 bt b--moon-gray pa4 tc">
  <a class="mh1 link underline-hover" href="/">Home</a> /
  <a class="mh1 link underline-hover" href="/archive">Archive</a> /
  <a class="mh1 link underline-hover" href="/feed.xml">RSS</a> /
  <a class="mh1 link underline-hover" href="https://twitter.com/robjheaton">Twitter</a> /
  <a class="mh1 link underline-hover" href="/office-hours">Office hours</a> /
  <a class="mh1 link underline-hover" href="/tipoffs">Tipoffs</a> /
  <a class="mh1 link underline-hover" href="https://soundcloud.com/rob24242/">SoundCloud</a>
</footer>
