<meta content='width=device-width, initial-scale=1.0, user-scalable=no' name='viewport'>
<meta content='text/html; charset=utf-8' http-equiv='content-type' />
<meta content='Rob Heaton' name='author' />
<link href='/stylesheets/reset.css' rel='stylesheet' type='text/css' />
<link href='/stylesheets/codemirror.css' rel='stylesheet' type='text/css' />
<link href='/stylesheets/style.css' rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic' rel='stylesheet' type='text/css' />
<link rel="SHORTCUT ICON" href="http://www.robertheaton.com/images/icon.png"/>
<script src='/javascripts/jquery.js' type='text/javascript'></script>
<script src='/javascripts/codemirror.js' type='text/javascript'></script>
<script src='/javascripts/javascript-cm.js' type='text/javascript'></script>
<script src='/javascripts/ruby-cm.js' type='text/javascript'></script>
<script src='/javascripts/html-cm.js' type='text/javascript'></script>
<script src='/javascripts/shell-cm.js' type='text/javascript'></script>
<script src='/javascripts/pd.js' type='text/javascript'></script>
<script src='/javascripts/stuff.js' type='text/javascript'></script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "bb89c410-08b4-4ad3-aa5d-3f5b57488987", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>