<meta name="google-site-verification" content="nEy67q46N_E4keArl5x0pv_hCQQ_jh0vUFe57wyR3Eg" />
<script>
var pageTitle = "{{ page.title }}" || "Home"
</script>
<!-- All the meta tags in the world -->
{% if page.og_image %}
<meta property="og:image" content="{{ page.og_image }}"/>
<meta property="og:image:width" content="{{ page.og_image_width }}" />
<meta property="og:image:height" content="{{ page.og_image_height }}" />

<meta name="twitter:image" content="{{ page.og_image }}" />
{% else %}
<meta property="og:image" content="http://robertheaton.com/images/icon.png"/>
<meta property="og:image:width" content="300" />
<meta property="og:image:height" content="300" />

<meta name="twitter:image" content="http://robertheaton.com/images/icon.png" />
{% endif %}

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@RobJHeaton" />

<meta content='width=device-width, initial-scale=1.0, user-scalable=no' name='viewport' />
<meta content='text/html; charset=utf-8' http-equiv='content-type' />
<meta property='og:site_name' content='Robert Heaton' />
{% if page.date %}
<meta content='{{ site.url }}{{ page.url }}' property='og:url' />
<meta property="og:type" content='article'/>

{% if page.custom_title %}
<meta property="og:title" content='{{ page.custom_title | strip_html | trim | escape }} | {{ site.name }}'/>

<meta name="twitter:title" content="{{ page.custom_title | strip_html | trim | escape }} | {{ site.name }}" />
{% else %}
<meta property="og:title" content='{{ page.title | strip_html | trim | escape }} | {{ site.name }}'/>

<meta name="twitter:title" content="{{ page.title | strip_html | trim | escape }} | {{ site.name }}" />
{% endif %}

  {% if page.custom_meta %}
  <meta property="og:description" content='{{ page.custom_meta | strip_html | strip_newlines | truncate: 200 | escape }}'/>
  <meta property="description" content='{{ page.custom_meta | strip_html | strip_newlines | truncate: 200 | escape }}'/>

  <meta name="twitter:description" content="{{ page.custom_meta | strip_html | strip_newlines | truncate: 200 | escape }}" />
  {% else %}
  {% assign description = page.excerpt | newline_to_br | strip_newlines | replace: '<br />', ' ' | strip_html | strip |  truncatewords: 90 %}

  <meta property="og:description" content='{{ description }}'/>
  <meta property="description" content='{{ description }}'/>

  <meta name="twitter:description" content="{{ description }}" />
  {% endif %}

{% else %}
<meta content='{{ site.url }}' property='og:url' />
<meta property="og:type" content='blog'/>
<meta property="og:title" content='{{ site.name | escape }}'/>
<meta property="og:description" content='{{ site.description | escape }}'/>
<meta property="description" content='{{ site.description | escape }}'/>
{% endif %}
<!-- All the meta tags in the world -->

<!-- <link href='/stylesheets/reset.css' rel='stylesheet' type='text/css' /> -->
<!-- <link href='/stylesheets/style.css' rel='stylesheet' type='text/css' /> -->
<!-- <link href='/stylesheets/syntax.css' rel='stylesheet' type='text/css' /> -->
<link href='http://fonts.googleapis.com/css?family=Merriweather:400,300' rel='stylesheet' type='text/css' />
<link rel="shortcut icon" href="/images/fav.png"/>
<style>
@charset "UTF-8";
@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes fade-in {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-ms-keyframes fade-in {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-o-keyframes fade-in {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fade-in {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
body {
  background: #fff;
  color: #000;
  font-family: 'Merriweather', Georgia, helvetica, arial, sans-serif;
  font-size: 16px;
  line-height: 1.55em;
  padding: 0;
  margin: 0; }

[data-more] div.more-body {
  display: none; }

strong, b {
  font-weight: normal; }

header {
  *zoom: 1;
  padding-bottom: 20px;
  margin-top: -5px;
  line-height: 1.3em;
  margin: 0 auto 30px;
  background: #f0f1f2;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all, 0.3s;
  -moz-transition: all, 0.3s;
  -ms-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s; }
  header:before, header:after {
    content: " ";
    display: table; }
  header:after {
    clear: both; }
  header a {
    -webkit-transition: all, 0.3s;
    -moz-transition: all, 0.3s;
    -ms-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s; }
  header h1 {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    font-size: 20px;
    margin: 0 0 15px; }
  header p {
    margin: 0;
    font-size: 13px;
    line-height: 2em; }
  header .rob {
    position: absolute;
    left: -104px;
    top: 10px;
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    overflow: hidden;
    border-radius: 50px;
    border: 4px solid rgba(0, 0, 0, 0.05);
    -webkit-animation: fade-in 1.5s;
    -moz-animation: fade-in 1.5s;
    animation: fade-in 1.5s; }

footer {
  padding: 25px;
  background: #f0f1f2;
  line-height: 2rem; }
  footer h3 {
    font-size: 14px; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }
h1, h2, h3, h4, h5, h6 a {
  text-decoration: none;
  font-weight: normal; }

.hr {
  text-align: center;
  margin: 20px auto 30px;
  font-size: 6px;
  color: #999;
  letter-spacing: 20px; }
  .hr:before {
    content: "╲╲╲"; }

a, .as-link {
  color: #527d9a; }
  a:hover, .as-link:hover {
    color: #003355; }
  a.big-button, .as-link.big-button {
    display: block;
    border-radius: 3px;
    -webkit-transition: all, 0.2s;
    -moz-transition: all, 0.2s;
    -ms-transition: all, 0.2s;
    -o-transition: all, 0.2s;
    transition: all, 0.2s;
    color: #fff;
    font-size: 12px;
    line-height: 2em;
    padding: 8px 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    border: 4px solid #8ab;
    background: #6f8f9f; }
    a.big-button:hover, .as-link.big-button:hover {
      background: #608090; }
    a.big-button:active, .as-link.big-button:active {
      box-shadow: inset 0 1px 2px #406070; }
    a.big-button.red, .as-link.big-button.red {
      border: 4px solid #ddacac;
      background: #bf6653; }
      a.big-button.red:hover, .as-link.big-button.red:hover {
        background: #bf4634; }
      a.big-button.red:active, .as-link.big-button.red:active {
        box-shadow: inset 0 1px 2px #602022; }

.container, .stuff {
  width: 100%;
  max-width: 800px;
  margin: auto;
  padding: 15px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@media (min-width: 960px) {
  .container {
    width: 80%; } }
.pull-right {
  float: right; }

.pull-left {
  float: left; }

.colour-1 {
  color: #c94; }

.colour-2 {
  color: #925; }

.colour-3 {
  color: #484; }

hr {
  border: 0;
  border-bottom: 1px dotted #CCC;
  margin: 25px 0; }

ul.posts {
  padding: 0;
  max-width: 800px;
  margin: 0 auto 40px; }
  ul.posts li {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 15px; }
  ul.posts li a {
    display: block;
    font-size: 18px; }
    ul.posts li a, ul.posts li a * {
      -webkit-transition: all, 0.3s;
      -moz-transition: all, 0.3s;
      -ms-transition: all, 0.3s;
      -o-transition: all, 0.3s;
      transition: all, 0.3s; }
    ul.posts li a small {
      font-size: 12px; }
    ul.posts li a small.hide {
      opacity: 0; }
    ul.posts li a:hover small.hide {
      opacity: 0.6; }

.site section.blogpost {
  max-width: 800px;
  margin: auto; }

.site section.blogpost, .site section > p {
  line-height: 1.8em; }
  .site section.blogpost blockquote, .site section > p blockquote {
    border-left: 3px solid #f6f8f9;
    padding: 0 0 0 15px;
    margin: 20px 0 20px -18px;
    font-style: italic;
    color: #777879;
    -webkit-transition: all, 0.3s;
    -moz-transition: all, 0.3s;
    -ms-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s; }
    .site section.blogpost blockquote:hover, .site section > p blockquote:hover {
      color: #030507;
      border-left-color: #e4e6e9; }
  .site section.blogpost li .CodeMirror, .site section > p li .CodeMirror {
    margin: 10px 0; }
  .site section.blogpost li p, .site section > p li p {
    margin-bottom: 5px; }
  .site section.blogpost img, .site section > p img {
    max-width: 100%; }
    .site section.blogpost img.half, .site section > p img.half {
      width: 50%; }

@media (max-width: 580px) {
  section.blogpost img.half {
    width: 100%; } }
.muted {
  color: #777; }

.sec-head {
  display: none;
  background: #494949;
  color: #fff;
  display: block;
  border-radius: 40px;
  width: 60px;
  height: 60px;
  line-height: 58px;
  margin: 10px auto;
  text-align: center;
  font-size: 80%;
  text-shadow: -1px -1px 0px #000; }

section.info {
  width: 49%;
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  vertical-align: top; }
  section.info a {
    line-height: 2.4em; }
  section.info:not(:last-of-type) {
    margin-right: 1%; }
  section.info small {
    color: #999; }
  section.info .item * {
    padding-bottom: 2px;
    border-bottom: 1px dotted #ccc; }

@media (max-width: 800px) {
  section.info {
    width: 100%; }
    section.info:not(:last-of-type) {
      border-bottom: 1px dotted #ccc;
      margin-bottom: 20px;
      padding-bottom: 35px; } }
.subject {
  font-size: 18px;
  line-height: 1.3em;
  margin: 0; }

.section-title {
  font-size: 16px;
  color: #676566; }

section.navigation {
  *zoom: 1;
  position: relative;
  margin: 0 0 15px; }
  section.navigation:before, section.navigation:after {
    content: " ";
    display: table; }
  section.navigation:after {
    clear: both; }
  section.navigation a {
    width: 50%; }
    section.navigation a span {
      opacity: 0.8;
      padding: 0 5px;
      -webkit-transition: all, 0.3s;
      -moz-transition: all, 0.3s;
      -ms-transition: all, 0.3s;
      -o-transition: all, 0.3s;
      transition: all, 0.3s; }
    section.navigation a:hover span {
      opacity: 1; }

section.share-links {
  text-align: center;
  border-top: 1px dotted #ddd;
  padding: 20px 0 0px;
  margin: 20px 0; }
  section.share-links .button {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    vertical-align: top;
    height: 20px; }
    section.share-links .button.spaced {
      margin-right: 30px; }

pre {
  padding-top: 8px !important;
  padding-bottom: 8px !important; }

.indenter p {
  text-indent: 30px;
  text-align: justify;
  margin: 0; }

<!-- /*# sourceMappingURL=style.css.map */ -->
</style>
{% include ga.html %}
