<header>
  <div class="container">
    <div style="float: left">
      <h1>
        <a href="/">
          <div class="rob"><img src="/images/ME2.jpg" height="100" width="100" alt="Rob Heaton" /></div>
          <div style="position: relative; top:10px">
          Robert Heaton
        </div>
        </a>
      </h1>
      <br />
      <p class="tagline">
        Software Engineer
        <br/>
        One track lover/Down a two-way lane
      </p>
    </div>

    <div style="margin-top: 21px; position: absolute; right: 10px;">
      <br/>
      <br/>
      <p>
        <a href="https://twitter.com/RobJHeaton">Twitter</a>
        /
        <a href="/feed.xml">RSS</a>
      </p>
    </div>
  </div>
</header>
