<header>
  <div class="container" style="margin-top: -25px">
    <h1 style="position: relative; top: 10px;">
      <a href="/">Robert Heaton</a>
    </h1>
    <br />

    <p class="tagline" aria-hidden="true">
      Software Engineer / One-track lover / Down a two-way lane
    </p>

    <nav role="navigation" style="margin-top: -5px">
      <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/archive">Archive</a></li>
        <li><a href="https://twitter.com/RobJHeaton">Twitter</a></li>
        <li><a href="/2018/12/08/programming-projects-for-advanced-beginners/">Programming Projects for Advanced Beginners</a></li>
      </ul>
    </nav>
  </div>
</header>
