<div class="measure-narrow-l flex-none pa4 dn db-l br-l b--moon-gray"><div style="width: 20em;"><!-- fixed container placeholder --></div></div>
<header class="pa4 flex-auto measure-narrow-l fixed-l">
  <h1 class="mv0 f2 f1-l lh-solid">
    <a href="/" class="link navy fw2 tracked-tight ttu">Robert Heaton</a>
  </h1>

  <p class="f6 dark-gray">
    Software Engineer / One-track lover / Down a two-way lane
  </p>

  <nav aria-label="site" class="mt4">
    <ul class="list ml0 pl0 mb0">
      <li class="mt1 mt2-l dib db-l mr3"><a class="fw6 link near-black f4-ns underline-hover" href="/">Posts</a></li>
      <li class="mt1 mt2-l dib db-l mr3"><a class="fw6 link near-black f4-ns underline-hover" href="/about">About</a></li>
      <li class="mt1 mt2-l dib db-l mr3"><a class="fw6 link near-black f4-ns underline-hover" href="/archive">Archive</a></li>
      <li class="mt1 mt2-l dib db-l mr3"><a class="fw6 link near-black f4-ns underline-hover" href="https://twitter.com/RobJHeaton">Twitter</a></li>
      <li class="mt1 mt3-l dib db-l mr3">
        <a class="fw6 link near-black f4-ns underline-hover" href="https://advancedbeginners.substack.com">
          <span class="mr1">Programming Feedback for Advanced Beginners</span>
          <span class="dib ph1 bg-dark-red white f7">NEW</span>
        </a></li>
    </ul>
  </nav>
</header>
