<div style="border: 2px solid black; padding: 0px 15px;">
<em>
<p>
<span style="color: #f92672">NEW:</span> <a href="/pfab">send me your code and receive free, detailed feedback</a>
on how to make your program cleaner and more professional!
There's no catch - I'm doing research for a forthcoming
Programming Projects for Advanced Beginners book and I want
to read as much code by my target audience (i.e. you) as
possible.
</p>

<p>
See <a href="/pfab">this post</a> for how to send me your code, and
<a href="/pfab0">this post</a> for an example of the types
of specific, suggestions that you'll get in return.
</p>
</em>
</div>
