<div class="bw2 pa4 ba i mv4">
<p class="mt0">
<span style="color: #f92672">NEW:</span> <a href="https://advancedbeginners.substack.com">
SUBSCRIBE to my new "Programming Feedback for Advanced Beginners"
newsletter</a> to receive concise weekly emails containing specific,
real-world ways to make your code cleaner and more professional.
</p>

<p>
Each week I review code sent to me by one of my readers. I highlight
the things that I like, discuss the
things that I think could be better, and offer suggestions for how
the author could make their code cleaner and easier to work with.
</p>

<p class="mb0">
<span style="color: #f92672"><a href="https://advancedbeginners.substack.com">SUBSCRIBE NOW</a></span> to receive these invaluable improvements in your inbox
every week, completely free. For the chance to get detailed feedback on your own code, <a href="/feedback">go here</a>.
</p>
</div>
