<div class="bw3 pa4 ba mv4">
  <span class="dib ph2 pv1 bg-dark-red white f6 fw6 absolute nt4">NEW</span>
  <p>
  <a href="https://advancedbeginners.substack.com">
  Subscribe to my new "Programming Feedback for Advanced Beginners"
  newsletter</a> to receive concise weekly emails containing specific,
  real-world ways to make your code cleaner and more professional.
  </p>

  <p>
  Each week I review code sent to me by one of my readers. I highlight
  the things that I like, discuss the
  things that I think could be better, and offer suggestions for how
  the author could make their code cleaner and easier to work with.
  </p>

  <p class="mb0">
  <span style="color: #f92672"><a href="https://advancedbeginners.substack.com">Subscribe now</a></span> to receive these invaluable improvements in your inbox
  every week, completely free. For the chance to get detailed feedback on your own code, <a href="/feedback">go here</a>.
  </p>
</div>
