{% if page.tags.first %}
<div class="pv4">
  <h3 class="fw8 f5 ttu mt0 mb1">More on <span class="green">{{page.tags.first}}</span></h3>
  <ul class="mb0">
    {% for post in site.posts %}
      {% for post_tag in post.tags %}
        {% if post.title != page.title %}
          {% if post_tag == page.tags.first %}
          <li class="mt2">
            <a class="near-black underline lh-title f4 hover-dark-gray" href="{{ post.url}}">{{ post.title }}</a>
          </li>
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  </ul>
</div>
{% endif %}
