<section>
	<!-- Begin MailChimp Signup Form -->
	<h3 style="text-align: center">Get more posts like this:</h3>

<div id="mc_embed_signup" style="
    text-align: center;
    margin-top: -7px;
    margin: 0 auto;
">
	<form action="https://ifoundthishelped.us4.list-manage1.com/subscribe/post?u=84f18d8141e4ba155f81fb4eb&amp;id=264b2ba598" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="email@domain.com" style="width:200px;font-size: 1.1em; padding-left:4px; line-height:1.7em">
    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button as-link green" style="position:relative; top: -1px; border-radius: 3px;
border: 3px solid #88aabb;
cursor: pointer;
height: 37px;background-color: #6f8f9f;
color: white;
font-size:1.1em">
  <div id="mce-responses" class="clear" style="margin-top:15px">
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
  </div>  

</form>
<div style="clear:both"></div>
<!--End mc_embed_signup-->
</section>
