<section class="nl4 pa4 bt bb b--moon-gray nr4">
  <form action="https://tinyletter.com/robheaton" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/robheaton', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
    <label for="mce-EMAIL">
      <h3 class="fw8 f5 ttu mt0 mb1">Get new essays sent to you</h3>
    </label>
    <p id="mce-email-describe" class="mt0">
      Subscribe to my new work on programming, security, and a few other
      topics. Published a few times a month.
    </p>





      <p>
        <input
          type="email" value="" name="email" id="tlemail" placeholder="Your email address"
          class="bw2 b--dark-gray pa3 ba measure-narrow w-100 mr2">
      <input type="hidden" value="1" name="embed"/>
      <button type="submit" name="subscribe" id="mc-embedded-subscribe"
        class="bw2 b--green green bg-white dark fw6 pa3 ba mt2 dib hover-white hover-bg-green pointer">Subscribe</button>
    </form>
    <p class="mb0"><span class="fw6 dark-red">NEW:</span> Also subscribe to my new series, <a href="https://advancedbeginners.substack.com">Programming Feedback for Advanced Beginners</a>.</p>
  </form>
</section>
