<section>
<div style="float: left; width: 49%; text-align: right">
	<a class='big-button' href='http://feeds.feedburner.com/{{site.feedburner_id}}' id='subscribe' target='_blank'>RSS FEED</a>
</div>
	<!-- Begin MailChimp Signup Form -->

<div id="mc_embed_signup" style="float: right;
    text-align: right;
    width: 49%;
    margin-top: -7px;
">
	<form action="http://ifoundthishelped.us4.list-manage1.com/subscribe/post?u=84f18d8141e4ba155f81fb4eb&amp;id=264b2ba598" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
<small>Get fun and generally un-scatalogical posts in your inbox </small>
<br/>
<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Your email address" style="width:287px;font-size: 16px">
  <div id="mce-responses" class="clear" style="display:inline-block">
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
  </div>  
  <input type="submit" value="Sounds hot" name="subscribe" id="mc-embedded-subscribe" class="button as-link green" style="position:relative; top: -3px; border-radius: 7px;
border: 3px outset #88aabb;
cursor: pointer;
height: 25px;background-color: #527d9a;
color: white;">
</form>
</div>
<div style="clear:both"></div>
<!--End mc_embed_signup-->
</section>
<hr>
