<section style="
padding-bottom: 10">
	<!-- Begin MailChimp Signup Form -->

<div id="mc_embed_signup" style="
    margin-top: 8px;
">
	<form action="https://ifoundthishelped.us4.list-manage.com/subscribe/post?u=84f18d8141e4ba155f81fb4eb&amp;id=264b2ba598" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <h4 style="margin-top:-10px; margin-bottom:7px;">Get essays about programming, whimsy and primates, delivered direct to your inbox.</h4>
<input autofocus="autofocus" type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="email@domain.com" style="width:300px;font-size: 1.1em; padding-left:4px; line-height:1.7em">
  <div id="mce-responses" class="clear" style="margin-top: 10px">
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
  </div>  
  <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button as-link green" style="position:relative;left: -2px; border-radius: 3px;
border: 3px solid #88aabb;
cursor: pointer;
height: 37px;background-color: #6f8f9f;
color: white;
display: block;
font-size: 1.1em">
</form>
<!--End mc_embed_signup-->
</section>
