<section style="border: 2px solid black; padding: 25px; margin-bottom: 25px; margin-top:15px; padding-top: 30px">
  <form action="https://ifoundthishelped.us4.list-manage.com/subscribe/post?u=84f18d8141e4ba155f81fb4eb&amp;id=264b2ba598" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate style="margin-bottom: 0">
    <label for="mce-EMAIL">
      <h3 style="margin-top:-10px; margin-bottom:-6px;">Get new essays sent to you</h3>
    </label>

    <p id="mce-email-describe">
      Subscribe to my new work on programming, security, and a few other
      topics. Published several times a month.
    </p>
    <input autofocus="autofocus" aria-describedby="mce-email-describe" type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Your email address" style="width:250px;font-size: 1.1em; padding-left:4px; line-height:1.7em">

    <div id="mce-responses" class="clear" style="margin-top: 10px">
      <div class="response" id="mce-error-response" style="display:none"></div>
      <div class="response" id="mce-success-response" style="display:none"></div>
    </div>  

    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button as-link green" style="position:relative;left: -2px; border-radius: 3px;
    border: 1px solid #97d69c;
    cursor: pointer;
    height: 37px;background-color: #3eb542;
    color: white;
    display: block;
    font-size: 1.1em">
  </form>
</section>
