<section style="text-align: center">
    <a href="https://twitter.com/intent/tweet/?text={{ page.title }} by @RobJHeaton&amp;url=https://robertheaton.com{{ page.url }}" target="_blank" aria-label="Twitter">
      Tweet
    </a>
    /
    <a href="https://twitter.com/intent/follow?screen_name=robjheaton&region=follow_link&tw_p=followbutton" target="_blank" aria-label="Follow @RobJHeaton">
      Follow @RobJHeaton
    </a>
    /
    <a href="https://facebook.com/sharer/sharer.php?u=https://robertheaton.com{{ page.url }}" target="_blank" aria-label="Facebook">
      Facebook
    </a>
</section>
