<section style="text-align: center; padding-top: 24px">
    <a href="https://twitter.com/intent/tweet/?text={{ page.title }} by @RobJHeaton&amp;url=https://robertheaton.com{{ page.url }}" target="_blank" aria-label="Twitter">
      Tweet
    </a>
    /
    <a href="https://twitter.com/robjheaton" target="_blank" aria-label="@RobJHeaton">
      @RobJHeaton
    </a>
    <!-- / -->
    <!-- <a href="https://facebook.com/sharer/sharer.php?u=https://robertheaton.com{{ page.url }}" target="_blank" aria-label="Facebook"> -->
    <!--   Facebook -->
    <!-- </a> -->
</section>
