@charset "UTF-8";
body {
  background: #fff;
  color: #000;
  font-family: "Merriweather", Georgia, helvetica, arial, sans-serif;
  font-size: 16px;
  line-height: 1.55em;
  padding: 0;
  margin: 0; }

[data-more] div.more-body {
  display: none; }

strong, b {
  font-weight: normal; }

header {
  padding: 35px 20px;
  line-height: 1.3em;
  text-align: center;
  width: 300px;
  height: 150px;
  border: 1px dotted #e6e6e7;
  border-radius: 3px;
  margin: 50px auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all, 0.3s;
  -moz-transition: all, 0.3s;
  -ms-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s; }
  header a {
    -webkit-transition: all, 0.3s;
    -moz-transition: all, 0.3s;
    -ms-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s; }
  header h1 {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    font-size: 20px;
    margin: 0 0 15px; }
  header p {
    margin: 0;
    font-size: 13px;
    line-height: 2em; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

.hr {
  text-align: center;
  margin: 20px auto 30px;
  font-size: 6px;
  color: #999;
  letter-spacing: 20px; }
  .hr:before {
    content: "╲╲╲"; }

a, .as-link {
  text-decoration: none;
  color: #527d9a; }
  a:hover, .as-link:hover {
    color: #336688; }
  a.big-button, .as-link.big-button {
    display: block;
    border-radius: 3px;
    -webkit-transition: all, 0.2s;
    -moz-transition: all, 0.2s;
    -ms-transition: all, 0.2s;
    -o-transition: all, 0.2s;
    transition: all, 0.2s;
    color: #fff;
    font-size: 12px;
    line-height: 2em;
    padding: 8px 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    border: 4px solid #88aabb;
    background: #6f8f9f; }
    a.big-button:hover, .as-link.big-button:hover {
      background: #608090; }
    a.big-button:active, .as-link.big-button:active {
      box-shadow: inset 0 1px 2px #406070; }
    a.big-button.red, .as-link.big-button.red {
      border: 4px solid #ddacac;
      background: #bf6653; }
      a.big-button.red:hover, .as-link.big-button.red:hover {
        background: #bf4634; }
      a.big-button.red:active, .as-link.big-button.red:active {
        box-shadow: inset 0 1px 2px #602022; }

#container, .stuff {
  width: 100%;
  max-width: 700px;
  margin: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@media (min-width: 960px) {
  #container {
    width: 60%; } }
.pull-right {
  float: right; }

.pull-left {
  float: left; }

.colour-1 {
  color: #cc9944; }

.colour-2 {
  color: #925; }

.colour-3 {
  color: #448844; }

hr {
  border: 0;
  border-bottom: 1px dotted #cccccc;
  margin: 25px 0; }

ul.posts {
  padding: 0;
  max-width: 600px;
  margin: 0 auto 40px; }
  ul.posts li {
    margin: 0;
    padding: 0;
    list-style: none; }
  ul.posts li a {
    display: block;
    font-size: 18px;
    margin-bottom: 15px; }
    ul.posts li a, ul.posts li a * {
      -webkit-transition: all, 0.3s;
      -moz-transition: all, 0.3s;
      -ms-transition: all, 0.3s;
      -o-transition: all, 0.3s;
      transition: all, 0.3s; }
    ul.posts li a small {
      font-size: 12px; }
    ul.posts li a small.hide {
      opacity: 0; }
    ul.posts li a:hover small.hide {
      opacity: 0.6; }

.site section.blogpost {
  max-width: 600px;
  margin: auto;
  padding: 0 10px; }

.site section.blogpost, .site section > p {
  line-height: 1.8em; }
  .site section.blogpost blockquote, .site section > p blockquote {
    border-left: 3px solid #f6f8f9;
    padding: 0 0 0 15px;
    margin: 20px 0 20px -18px;
    font-style: italic;
    color: #777879;
    -webkit-transition: all, 0.3s;
    -moz-transition: all, 0.3s;
    -ms-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s; }
    .site section.blogpost blockquote:hover, .site section > p blockquote:hover {
      color: #030507;
      border-left-color: #e4e6e9; }
  .site section.blogpost li .CodeMirror, .site section > p li .CodeMirror {
    margin: 10px 0; }
  .site section.blogpost li p, .site section > p li p {
    margin-bottom: 5px; }
  .site section.blogpost img, .site section > p img {
    max-width: 100%; }
    .site section.blogpost img.half, .site section > p img.half {
      width: 50%; }

@media (max-width: 580px) {
  section.blogpost img.half {
    width: 100%; } }
.muted {
  color: #777; }

.sec-head {
  display: none;
  background: #494949;
  color: #fff;
  display: block;
  border-radius: 40px;
  width: 60px;
  height: 60px;
  line-height: 58px;
  margin: 10px auto;
  text-align: center;
  font-size: 80%;
  text-shadow: -1px -1px 0px black; }

footer {
  margin: 40px 0 0 0;
  padding: 25px;
  background: #f7f8f9;
  line-height: 2rem; }
  footer h3 {
    font-size: 14px; }

section.info {
  width: 49%;
  font-size: 13px;
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  vertical-align: top; }
  section.info a {
    line-height: 2.4em; }
  section.info:not(:last-of-type) {
    margin-right: 1%; }
  section.info small {
    color: #999; }
  section.info .item * {
    padding-bottom: 2px;
    border-bottom: 1px dotted #cccccc; }

@media (max-width: 600px) {
  section.info {
    width: 100%; }
    section.info:not(:last-of-type) {
      border-bottom: 1px dotted #cccccc;
      margin-bottom: 20px;
      padding-bottom: 35px; } }
.subject {
  font-size: 20px;
  line-height: 1.5em;
  margin: 0; }

.section-title {
  font-size: 16px;
  color: #676566; }

section.navigation {
  *zoom: 1;
  position: relative;
  margin: 0 0 15px; }
  section.navigation:before, section.navigation:after {
    content: " ";
    display: table; }
  section.navigation:after {
    clear: both; }
  section.navigation a {
    width: 50%; }
    section.navigation a span {
      opacity: 0.2;
      padding: 0 5px;
      -webkit-transition: all, 0.3s;
      -moz-transition: all, 0.3s;
      -ms-transition: all, 0.3s;
      -o-transition: all, 0.3s;
      transition: all, 0.3s; }
    section.navigation a:hover span {
      opacity: 1; }

section.share-links {
  text-align: center;
  border-top: 1px dotted #dddddd;
  border-bottom: 1px dotted #dddddd;
  padding: 20px 0 10px;
  margin: 20px 0; }
  section.share-links .button {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    vertical-align: top;
    height: 20px; }
    section.share-links .button.spaced {
      margin-right: 30px; }
