<html>
  <head>
    <title>Get The Tables</title>
  </head>
  {% include header.html %}
  <body>
    <div id='container'>
      <a href="/">
          <div class='hr' style="margin-bottom: 72px; font-size: 1.3em; color: #555">
            <div class='title main' style="color:#555">
              Get The Tables
            </div>
            <p style="font-size: 0.32em; color: #777">Lies, damn lies and startups by Rob Heaton</p>
          </div>
        </a>
      {{ content }}
      {% include footer.html %}
    </div>
  </body>
</html>
