<html>
  <head>
    <title>Get The Tables</title>
  </head>
  {% include header.html %}
  <body>
    <div id='container'>
      <div class='hr' style="margin-bottom: 92px; font-size: 1.3em; color: #555">
        <a href="/">
            <div class='title main' style="color:#555">
              Get The Tables
            </div>
        </a>
            <p style="font-size: 0.32em; color: #777">Lies, damn lies and startups by Rob Heaton. Co-founder @ <a href="http://www.copyin.com">Copyin.com</a>.</p>
          </div>
      {{ content }}
      {% include footer.html %}
    </div>
  </body>
</html>
