<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Robert Heaton</title>
    {% include header.html %}
  </head>
  <body class="sans-serif lh-copy">
    <div id="fb-root"></div>
    <div class="flex-l">
      {% include navbar.html %}
      <main class="flex-auto nested-img bt bn-l b--moon-gray pa4 {{ page.classes }}">
        <!-- {% include rss.html %} -->
        {% if page.title %}
          <h2 class="mv0 f2 lh-title">{{ page.title }}</h2>
        {% endif %}
        {{ content }}
      </main>
    </div>
    {% include footer.html %}
  </body>
</html>
