<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }} | Robert Heaton</title>
    {% include header.html %}
  </head>
  <body>
    {% include navbar.html %}
    <div class='measure center'>
      <section class='post blogpost'>
        <h1 class='subject'><a href="{{page.url}}">{{ page.title }}</a></h1>
        <div class='date muted'>{{ page.date | date_to_string }}</div>
        <!-- <div class='muted'>(Fiction)</div> -->
        <div class='indenter'>
          {{ content }}
          <br/>
        </div>
        {% if page.hn %}
          <a href="https://news.ycombinator.com/item?id={{ page.hn }}" target="_blank">Discussion on Hacker News</a>
        {% endif %}
        <div style="text-align: center; margin-bottom: 25px">
          <a href="https://twitter.com/robjheaton">
            Follow me on Twitter
          </a>
          or
          <a href="https://robertheaton.com/feed.xml">
            RSS
          </a>
        </div>

        {% include rss.html %}
        {% include related_posts.html %}
        {% include recent_posts.html %}
        <br/>
      </section>
    </div>
    {% include footer.html %}
  </body>
</html>
