<html>
  <head>
    <title>{{ page.title }} | Get The Tables</title>
  </head>
  {% include header.html %}
  <body>
    <div id='container'>
      <!--<a class='sec-head' href='/'></a>-->
      <div class='site'>
          <div class='hr' style="margin-bottom: 92px; font-size: 1.3em; color: #555">
        <a href="/">
            <div class='title main' style="color:#555">
              Get The Tables
            </div>
        </a>
            <p style="font-size: 0.32em; color: #777">Lies, damn lies and startups by Rob Heaton. Co-founder @ <a href="http://www.copyin.com">Copyin.com</a>.</p>
          </div>
        <div class='hr'>
          <div class='title main'>
            <a href='{{ page.url }}'>
              {{ page.title }}
            </a>
          </div>
        </div>
        <section class='post'>
          <center class='date muted'>{{ page.date | date_to_string }}</center>
          {{ content }}
          <div style="text-align:center; margin-bottom: 15px">
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ page.url }}" data-via="RobJHeaton" data-text="{{ page.title }} - http://getthetables.com{{ page.url }}" data-lang="en" data-count="vertical">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          
            
          </div>
        </section>
        {% include footer.html %}
      </div>
    </div>
  </body>
</html>
