<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }} | Robert Heaton</title>
    {% include header.html %}
  </head>
  <body class="sans-serif lh-copy">
    <div id="fb-root"></div>
    <div class="flex-l">
      {% include navbar.html %}
      <main class="flex-auto bt bn-l b--moon-gray pa4 {{ page.classes }}">
        <article class="f4 measure-wide nested-headline-line-height">
          <h2 class="mv0 f2 lh-title"><a class="near-black no-underline" href="{{page.url}}">{{ page.title }}</a></h1>
          <div class="f5 mb4 mt2 fw4 silver">{{ page.date | date_to_string }}</div>
          <div class="{{ page.article_classes }}">{{ content }}</div>
        </article>
        {% if page.hn %}
          <a class="pa4 db link near-black fw6 nl4 nr4 bt b--moon-gray" href="https://news.ycombinator.com/item?id={{ page.hn }}" target="_blank">
            Discussion on Hacker News
            &#10140;
          </a>
        {% endif %}
        <div class="bt b--moon-gray nl4 nr4">
          <a class="pa4 dib link hover-dark-blue near-black fw6" href="https://twitter.com/robjheaton">
            <img src="/images/twitter.png" style="height:25px; position:relative; top:6px"/>Follow me on Twitter &#10140;
          </a>
          <a class="pa4 dib link hover-dark-blue near-black fw6" href="https://robertheaton.com/feed.xml">
            RSS &#10140;
          </a>
        </div>

        {% include rss.html %}
        {% include related_posts.html %}
        {% include recent_posts.html %}
      </main>
    </div>
    {% include footer.html %}
  </body>
</html>
