<html>
  <head>
    <title>{{ page.title }} | Robert Heaton</title>
    {% include header.html %}
    {% include ga.html %}
  </head>
  <body>
    <div id="fb-root"></div>
    {% include navbar.html %}
    <div id='container'>
      <div class='site'>
        <section class='post blogpost'>
          <h1 class='subject'><a href="{{page.url}}">{{ page.title }}</a></h1>
          <div class='date muted'>{{ page.date | date_to_string }}</div>
          {{ content }}
          {% include social_links.html %}
          {% include recent_posts.html %}
        </section>
      </div>
      {% include copyin.html %}
      {% include rss.html %}
    </div>
    {% include footer.html %}
  </body>
</html>
